.features-module {clear: both; width: 100%; padding:80px 0 80px 0; background: var(--white); position: relative; z-index: 1;}
.intro {position: relative; align-items: center;}
.intro:before {content: ""; height: 255px; width: 546px; position: absolute; background: var(--dirty-white); right: -80px; z-index: -1; top: -35px; display: block
;}
.intro:after {content: ""; height: 255px; width:1000%; position: absolute; background: var(--dirty-white); right: -1000%; z-index: -1; top: -35px; display: block;}

.intro-lt {flex-grow: 1; width:305px; margin-right:129px;}
.intro-lt:only-child {margin-right: 0;}
.intro-lt h2 {font-size: 2.25rem; margin-bottom: 32px; line-height: 1.1;}
.intro-lt h2 span:after {bottom: 0; height: 3px;}
.intro-lt .button {font-weight: bold; letter-spacing: -0.28px; padding: 16px 23px 16px 24px;}
.intro-rt {font-size: 1.125rem; line-height: 1.5; color: var(--grey); flex-grow: 1; width:calc(100% - 434px);}

/* Features */
.features-main {display: flex; flex-wrap: wrap; width: 100%;}
.features-main .features-grid {padding: 32px; flex-direction: column; width: 25%; display:flex; flex-wrap: wrap; vertical-align: top; position: relative; margin: 64px 0 0 0; align-items: flex-start;}
.features-main .features-grid:before {content:""; background: var(--light-grey); width: 1px; opacity: 0.5; height:calc(100% - 122px); display:block; top: 29px; left: 0; position: absolute;}
.features-main .features-grid .feature-icon {width: 100%; clear: both; margin: 0 0 16px 0;}
.features-main .features-grid .feature-icon img {width:auto; height:24px;}
.features-main .features-grid .h4 {font-family: "DM Sans", sans-serif; font-weight: 500; line-height: 1.4; letter-spacing: -0.78px; font-size: 1.625rem; margin-bottom: 15px;}
.features-main .features-grid  p {margin-bottom: 17px;}
.features-main .features-grid ul li {margin-bottom: 5px;}
.features-main .features-grid ul li::before {top: 2px;}
.features-main .features-grid ul li a {color: var(--grey);}
.features-main .features-grid ul li a:hover {color: var(--lime-500);}
.features-main .features-grid .readmore {margin-top: auto;}

.features-main .features-grid.signup-grid {background: var(--green-700); text-align: center; padding: 40px 32px; align-items: center;}
.features-main .features-grid.signup-grid:before {display: none;}
.features-main .features-grid.signup-grid .result-icon{width:24px; margin:0 auto 8px;}
.features-main .features-grid.signup-grid .h1{ color: var(--white); margin: 0 auto 24px; max-width: 300px; letter-spacing: normal; line-height: 1.17; font-size: 3rem;}
.features-main .features-grid.signup-grid p{font-size: 1.125rem; line-height: 1.5; color: var(--light-grey); margin-bottom: 37px;}
.features-main .features-grid.signup-grid .consult-btn{font-size: 1.125rem}
.features-main .features-grid.signup-grid .button{width: 100%;}
.features-main .features-grid.signup-grid .btn-wrap{gap: 8px; margin:40px 0 0 0; padding: 0 9px;}
.features-main .features-grid.signup-grid-wrap{ padding: 40px 30px; color: var(--white); background-color: var(--green-700); text-align: center;  }
.features-main .features-grid.signup-grid p {margin: 0; display: block;}

.features-main .features-grid.signup-grid .btn-wrap .consult-btn:after, 
.features-main .features-grid.signup-grid .btn-wrap .consult-btn:before{background: var(--green-900)!important; color: var(--white);}

/*-- media starts here --*/

@media only screen and (min-width: 1024px) {
    .features-main:only-child .features-grid:nth-child(-n+4) {margin-top: 0;}
    .features-main .features-grid:nth-child(4n+1):before {display: none;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){    
    .intro:before {right: -350px;}
    .intro-lt {margin-right: 60px;}
    .intro-rt {width: calc(100% - 365px);}
    
    .features-main {width: calc(100% + 40px); position: relative; left: -20px;}
    .features-main .features-grid {width: 33.333%; padding: 20px;}
    .features-main .features-grid:nth-child(3n+1):before {display: none;}
    .features-main .features-grid::before {height: calc(100% - 110px); top: 17px;}
}
@media only screen and (max-width:767px) and (min-width:200px){
    .features-module {padding: 40px 0 22px;}
    .intro-lt {width: 100%; margin: 0;}
    .intro-lt .button {width: 100%;}
    .intro-lt .btn-wrap {margin: 0 0 24px 0;}
    .intro:before, .intro:after {display: none;}
    .intro-rt {width: 100%;}
    
    
    .features-main {width: calc(100% + 32px); left: -16px; position: relative; margin: 37px 0 0 0;}
    .features-main .features-grid {padding: 16px; width: 50%; margin: 1px 0 0 0;}
    .features-main .features-grid:nth-child(2n+1):before {display: none;}
    .features-main .features-grid::before {height: calc(100% - 38px); top: 22px;}
    .features-main .features-grid .h4 {font-size: 1.25rem; line-height: 1.4; letter-spacing: -0.6px; margin-bottom: 14px;}
    .features-main .features-grid p {display: none;}
    .features-main .features-grid .readmore {font-size: 0;padding: 0 16px 0 16px;}
    .features-main .features-grid .readmore:hover::after {width: 32px;}
    .features-main .features-grid .readmore:hover:before {background-position: center right;}
    .features-main .features-grid ul {margin: 0 0 18px 24px;}
    
    .features-main .features-grid.signup-grid {margin: 17px 0 -22px 0; padding: 39px 15px 40px;}
    .features-main .features-grid.signup-grid p {padding: 0 5px;}
    .features-main .features-grid.signup-grid .btn-wrap {padding: 0; margin: 39px 0 0 0;}
}