footer#main_footer {clear: both; padding: 80px 0 80px; width: 100%; position: relative; background: var(--green-900); z-index: 1; overflow: hidden; color: var(--white)}
footer#main_footer .footer {position: relative}
footer#main_footer .footer_top {justify-content: space-between; clear: both; align-items: flex-start; padding: 0 0 51px 0}

footer#main_footer .footer_lt {width: 100%; margin-bottom: auto; max-width: 337px}
footer#main_footer .footer_lt .ftr-intro {margin: 0 0 49px 0; max-width: 300px;}
footer#main_footer .footer_lt .ftr-intro p {margin-bottom: 48px;}
footer#main_footer .footer_lt .footer-logo {margin: 0 0 47px 0;}
footer#main_footer .footer_lt .footer-logo a {display: inline-block}
footer#main_footer .footer_lt .footer-logo img {width: 109px; height: 44px;}
footer#main_footer .footer_lt .footer-lt-cnt {clear: both; width: 100%}

footer#main_footer .footer_lt .mail-links {margin:0 0 0 -2px; padding-left:26px; position: relative;}
footer#main_footer .footer_lt .mail-links p {color: var(--light-grey); margin: 0!important;}
footer#main_footer .footer_lt .mail-links i {color: var(--lime-500); position: absolute; left: 0; top: 5px; width: 20px; text-align: center}
footer#main_footer .footer_lt .copy {color: var(--light-grey); font-size: 0.75rem; line-height: 1.67; display: flex; flex-wrap: wrap;}
footer#main_footer .footer_lt .copy p {margin: 0;}

footer#main_footer .footer_lt .privacy-links {}
footer#main_footer .footer_lt .privacy-links ul {margin: 0 0 0 16px; font-size: 0; position: relative;}
footer#main_footer .footer_lt .privacy-links ul:before {width: 1px; height: 9px; top: 50%; transform: translateY(-50%); background: var(--light-grey); content: ""; position: absolute; display: inline-block; left: -9px;}
footer#main_footer .footer_lt .privacy-links ul li {margin: 0 16px 0 0; display: inline-block; font-size: 0.75rem; line-height: 1.67;}
footer#main_footer .footer_lt .privacy-links ul li:before {display: none;}
footer#main_footer .footer_lt .privacy-links ul li:after {width: 1px; height: 9px; top: 50%; transform: translateY(-50%); background: var(--light-grey); content: ""; position: absolute; display: inline-block; right: -9px;}
footer#main_footer .footer_lt .privacy-links ul li:last-child {margin-right: 0}
footer#main_footer .footer_lt .privacy-links ul li:last-child:after {display: none}
footer#main_footer .footer_lt .privacy-links ul li > a {color: var(--light-grey);}
footer#main_footer .footer_lt .privacy-links ul li > a:hover {color: var(--lime-500);}

footer#main_footer .ftr-sm {clear: both; font-size: 0; margin-top: -1px;}
footer#main_footer .ftr-sm ul {margin: 0}
footer#main_footer .ftr-sm ul li {display: inline-block; margin: 0 0 0 16px}
footer#main_footer .ftr-sm ul li:before {display: none;}
footer#main_footer .ftr-sm ul li:first-child {margin-left: 0}
footer#main_footer .ftr-sm ul li a {width:40px; height: 40px; position: relative; z-index: 1; background-color: var(--lime-500); display: block; text-indent: -999999px;}
footer#main_footer .ftr-sm ul li a:hover {background: var(--green-700);}
footer#main_footer .ftr-sm ul li a figure img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; transition: 0.3s all ease-in-out; width: auto; height: 25px;}
footer#main_footer .ftr-sm ul li a figure img.show-on-hover {opacity: 0; visibility: hidden;}
footer#main_footer .ftr-sm ul li a:hover figure img.show-on-hover {opacity: 1; visibility: visible;}
footer#main_footer .ftr-sm ul li a:hover figure img.hide-on-hover {opacity: 0; visibility: hidden;}

footer#main_footer .footer_rt {max-width: 943px; margin: 0; width: calc(100% - 337px);}

footer#main_footer .footer_rt ul {margin: -13px 0 0 0; padding: 0; width: 100%}
footer#main_footer .footer_rt .ftr-menu-wrap {justify-content: space-between}
footer#main_footer .footer-menu {width:25.45068928950159%; flex-wrap: wrap; display: flex; justify-content: space-between; margin-right: 10px; max-width: 240px}
footer#main_footer .footer-menu:last-of-type {margin-right: 0; width:19.088016967126194%;}

footer#main_footer .footer-menu > ul > li:before {display: none;}
footer#main_footer .footer-menu > ul > li > a, footer#main_footer .footer-menu > ul > li:first-child {color: var(--light-grey); text-transform: uppercase; font-size: 0.75rem; font-weight: 500;  line-height: 1.83; letter-spacing: 1.2px;}
footer#main_footer .footer-menu ul li {font-size: 1rem; margin-bottom: 19px; text-transform: none; font-weight: 400; line-height: 1.38; letter-spacing: normal;}
footer#main_footer .footer-menu ul li:last-child {margin-bottom: 0}
footer#main_footer .footer-menu ul li:before {color: var(--lime-500); font-size:0.8rem; left: -20.5px; top: 5px; line-height: 14px;}
footer#main_footer .footer-menu ul.sub-menu {margin:18px 0 0 24px;}
footer#main_footer .footer-menu ul.sub-menu li a {color: var(--white)}
footer#main_footer .footer-menu ul li > a:hover, footer#main_footer .footer-menu ul li.current_page_parent > a, footer#main_footer .footer-menu ul li.current_page_item > a, footer#main_footer .footer-menu ul li.current-menu-parent > a, footer#main_footer .footer-menu ul li.current-post-ancestor > a, footer#main_footer .footer-menu ul li.current-menu-item > a, footer#main_footer .footer-menu ul li.current-page-ancestor > a, footer#main_footer .footer-menu ul li.current-menu-ancestor > a {color: var(--lime-500)}

footer#main_footer .footer_btm {justify-content: space-between; align-items: center;}
footer#main_footer .footer_btm .ftr-btm-lt {width: 40%; font-size: 0}
footer#main_footer .footer_btm .ftr-btm-rt {width: calc(100% - 40%); margin-left: auto;}
footer#main_footer .footer_btm .ftr-btm-rt .btn-wrap {justify-content: flex-end;}


@media only screen and (max-width:1160px) and (min-width:1024px) {
    footer#main_footer .footer_lt {max-width: 285px;}
    footer#main_footer .footer_rt {width: calc(100% - 285px);}
    footer#main_footer .footer_rt .ftr-menu-wrap {justify-content: flex-end;}
    footer#main_footer .footer-menu {width: 33.333%; margin-right: 30px;}
    footer#main_footer .footer-menu:nth-child(2) {width: 28%;}
    footer#main_footer .footer-menu:last-of-type {width: 20.088%;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    footer#main_footer {padding: 60px 0;} 
    footer#main_footer .footer_lt .ftr-intro p {margin-bottom: 28px;}
    footer#main_footer .footer_lt .ftr-intro {margin: 0 0 30px 0;}
    footer#main_footer .footer_btm .ftr-btm-lt {width: 30%;}
    footer#main_footer .ftr-sm ul li {margin-left: 11px;}
    footer#main_footer .footer_btm .ftr-btm-rt {width: calc(100% - 30%);}
    footer#main_footer .footer_btm .ftr-btm-rt .btn-wrap {gap:16px;}
}

@media only screen and (max-width:1023px) and (min-width:200px) {
  footer#main_footer .footer_lt {width: 100%; max-width: 100%}
  footer#main_footer .footer_rt {display: none;}
  
}

@media only screen and (max-width:767px) and (min-width:200px) {
  footer#main_footer {padding: 40px 0 40px; text-align: center;}
    footer#main_footer .footer_top {padding: 0 0 25px 0;}
    footer#main_footer .footer_lt .ftr-intro {margin: 0 auto; max-width: 250px;}
    footer#main_footer .footer_lt .ftr-intro p {margin-bottom: 20px;}
    footer#main_footer .footer_lt .footer-logo {margin: 0 0 20px 0;}
    footer#main_footer .footer_lt .copy {justify-content: center;}
    footer#main_footer .footer_lt .mail-links {text-align:left; margin: 0 0 21px 0;}
    footer#main_footer .footer_btm .ftr-btm-lt {width: 100%; margin: 0 0 24px 0;}
    footer#main_footer .footer_btm .ftr-btm-rt {width: 100%;}
    footer#main_footer .footer_btm .ftr-btm-rt .btn-wrap .button {width: 100%;}
    footer#main_footer .ftr-sm {width: 100%;}
    footer#main_footer .ftr-sm ul {display: flex; justify-content: space-between; width: 100%; max-width: 343px; margin: 0 auto;}
    
    
  
}
