footer#main_footer {clear: both; padding: 80px 0 80px; width: 100%; position: relative; background: var(--green-900); z-index: 1; overflow: hidden; color: var(--white)}
footer#main_footer .background-bg:before {background-image: radial-gradient(circle at 50% 50%, rgba(5, 23, 25, 0), var(--green-900) 39%), linear-gradient(to bottom, var(--green-900), var(--green-900)); content: ""; display: block; width: 100%; height: 100%; left: 0; right: 0; margin: auto; position: absolute;}
footer#main_footer .footer {position: relative}
footer#main_footer .footer_top {justify-content: space-between; clear: both; align-items: flex-start; padding: 0 0 51px 0}

footer#main_footer .footer_lt {width: 100%; margin-bottom: auto; max-width: 337px}
footer#main_footer .footer_lt .ftr-intro {margin: 0 0 49px 0; max-width: 300px;}
footer#main_footer .footer_lt .ftr-intro p {margin-bottom: 0;}
footer#main_footer .footer_lt .footer-logo {margin: 0 0 47px 0;}
footer#main_footer .footer_lt .footer-logo a {display: inline-block}
footer#main_footer .footer_lt .footer-logo img {width: 109px; height: 44px;}
footer#main_footer .footer_lt .footer-lt-cnt {clear: both; width: 100%}

footer#main_footer .footer_lt .mail-links {margin:48px 0 0 -2px; padding-left:26px; position: relative;}
footer#main_footer .footer_lt .mail-links p {color: var(--light-grey);}
footer#main_footer .footer_lt .mail-links i {color: var(--lime-500); position: absolute; left: 0; top: 5px; width: 20px; text-align: center}
footer#main_footer .footer_lt .copy {color: var(--light-grey); font-size: 0.75rem; line-height: 1.67; display: flex; flex-wrap: wrap;}
footer#main_footer .footer_lt .copy p {margin: 0;}

footer#main_footer .footer_lt .privacy-links {}
footer#main_footer .footer_lt .privacy-links ul {margin: 0 0 0 16px; font-size: 0; position: relative;}
footer#main_footer .footer_lt .privacy-links ul:before {width: 1px; height: 9px; top: 50%; transform: translateY(-50%); background: var(--light-grey); content: ""; position: absolute; display: inline-block; left: -9px;}
footer#main_footer .footer_lt .privacy-links ul li {margin: 0 16px 0 0; display: inline-block; font-size: 0.75rem; line-height: 1.67;}
footer#main_footer .footer_lt .privacy-links ul li:before {display: none;}
footer#main_footer .footer_lt .privacy-links ul li:after {width: 1px; height: 9px; top: 50%; transform: translateY(-50%); background: var(--light-grey); content: ""; position: absolute; display: inline-block; right: -9px;}
footer#main_footer .footer_lt .privacy-links ul li:last-child {margin-right: 0}
footer#main_footer .footer_lt .privacy-links ul li:last-child:after {display: none}
footer#main_footer .footer_lt .privacy-links ul li > a {color: var(--light-grey);}
footer#main_footer .footer_lt .privacy-links ul li > a:hover {color: var(--lime-500);}

footer#main_footer .ftr-sm {clear: both; font-size: 0;}
footer#main_footer .ftr-sm ul {margin: 0}
footer#main_footer .ftr-sm ul li {display: inline-block; margin: 0 0 0 12px}
footer#main_footer .ftr-sm ul li:first-child {margin-left: 0}
footer#main_footer .ftr-sm ul li a {font-size: 20px; color: var(--white); width:40px; height: 40px; position: relative; z-index: 1; line-height: 1; background-color: var(--lime-500);}



footer#main_footer .footer_rt {max-width: 943px; margin: 0; width: calc(100% - 337px);}

footer#main_footer .footer_rt ul {margin: -13px 0 0 0; padding: 0; width: 100%}
footer#main_footer .footer_rt .ftr-menu-wrap {justify-content: space-between}
footer#main_footer .footer-menu {width:25.45068928950159%; flex-wrap: wrap; display: flex; justify-content: space-between; margin-right: 10px; max-width: 240px}
footer#main_footer .footer-menu:last-of-type {margin-right: 0; width:19.088016967126194%;}

footer#main_footer .footer-menu > ul > li:before {display: none;}
footer#main_footer .footer-menu > ul > li > a, footer#main_footer .footer-menu > ul > li:first-child {color: var(--light-grey); text-transform: uppercase; font-size: 0.75rem; font-weight: 500;  line-height: 1.83; letter-spacing: 1.2px;}
footer#main_footer .footer-menu ul li {font-size: 1rem; margin-bottom: 19px; text-transform: none; font-weight: 400; line-height: 1.38; letter-spacing: normal;}
footer#main_footer .footer-menu ul li:last-child {margin-bottom: 0}
footer#main_footer .footer-menu ul li:before {color: var(--lime-500); font-size: 0.75rem; left: -20px; top: 5px; line-height: normal;}
footer#main_footer .footer-menu ul.sub-menu {margin:18px 0 0 24px;}
footer#main_footer .footer-menu ul.sub-menu li a {color: var(--white)}
footer#main_footer .footer-menu ul li > a:hover, footer#main_footer .footer-menu ul li.current_page_parent > a, footer#main_footer .footer-menu ul li.current_page_item > a, footer#main_footer .footer-menu ul li.current-menu-parent > a, footer#main_footer .footer-menu ul li.current-post-ancestor > a, footer#main_footer .footer-menu ul li.current-menu-item > a, footer#main_footer .footer-menu ul li.current-page-ancestor > a, footer#main_footer .footer-menu ul li.current-menu-ancestor > a {color: var(--lime-500)}

footer#main_footer .footer_btm {justify-content: space-between; align-items: center;}
footer#main_footer .footer_btm .ftr-btm-lt {width: 50%; font-size: 0}






@media only screen and (max-width:1160px) and (min-width:1024px) {
}

@media only screen and (max-width:1023px) and (min-width:768px) {
  
}

@media only screen and (max-width:1023px) and (min-width:200px) {
  footer#main_footer .footer_lt {width: 100%; max-width: 100%}
  footer#main_footer .footer_rt {width: 100%; max-width: 100%}
  footer#main_footer .footer_btm .ftr-btm-lt {width: 100%; justify-content: center; text-align: center}
  footer#main_footer .footer_lt .privacy-links {width: 100%; justify-content: center; text-align: center}
}

@media only screen and (min-width:768px) {
}

@media only screen and (max-width:767px) and (min-width:200px) {footer#main_footer {padding: 40px 0 33px}
  footer#main_footer .footer_top {padding: 0 0 40px 0}
  footer#main_footer .footer_lt .footer-logo {margin: 0 0 23px 0}
  footer#main_footer .ftr-logos {margin: 0 0 40px 0}
  footer#main_footer .ftr-logos figure {margin: 0 24px 19px 0}
  footer#main_footer .ftr-logos figure:nth-child(2) {margin-right: 0}
  footer#main_footer .ftr-logos figure img {height: 33px}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links {margin: 0 0 24px 0}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links li {display: inline-block; width: auto; margin: 0 10px 11px 0}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links li:last-child {margin: 0}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links li i {color: var(--optionaltxt); margin-right: 6px; top: 3px; position: relative}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links li a {padding: 12px 12px 16px; border-radius: 24px; font-size: 0; background: var(--white); display: block}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links li a span {font-size: 18px; font-weight: 600; line-height: 100%; letter-spacing: -.36px; text-transform: capitalize; color: var(--linkhover)}
  footer#main_footer .footer_lt .footer-lt-cnt .mail-links li a:hover {background: var(--lightwhite)}
  footer#main_footer .ftr-sm {margin: 0 0 47px 0}
  footer#main_footer .ftr-sm ul li {margin: 0 0 0 15px}
  footer#main_footer .ftr-intro {margin: 0 0 47px 0}
  footer#main_footer .ftr-intro p {font-size: 20px; line-height: 175%}
  footer#main_footer .ftr-btns a {padding: 22.5px 24px; font-size: 27px; font-weight: 600; line-height: 100%; letter-spacing: -.54px; text-transform: capitalize; border-radius: 36px; width: 100%; color: var(--linkhover)}
  footer#main_footer .footer_rt {display: none}
  footer#main_footer .footer_btm {padding: 42px 0 0 0}
  footer#main_footer .footer_btm .ftr-btm-lt {display: inline; padding: 0 3px}
  footer#main_footer .footer_btm .ftr-btm-lt p {margin: 0 0 10px 0; display: inline; line-height: 0}
  footer#main_footer .footer_btm .ftr-btm-lt p:last-child {margin-left: 4px}
  footer#main_footer .footer_btm .ftr-btm-lt p:after {display: none}
  footer#main_footer .footer_lt .privacy-links {margin: 11px 0 0 0}
  footer#main_footer .footer_lt .privacy-links ul li {margin: 0 25px 8px 0}
}
