.hamiltion-stats-module {clear: both; width: 100%; background: var(--green-900); padding: 80px 0; position: relative; z-index: 1; color: var(--white);}
.hamiltion-stats-module .heading h2{color: var(--white);}
.hamiltion-stats-top {padding: 48px 24px; border: 1px solid #2B3F3E; text-align: center;}
.hamiltion-stats-top-inner {max-width: 845px; margin: 0 auto; position: relative;}
.hamiltion-stats-top-inner h2 {color: var(--white); font-family: "DM Sans", sans-serif; font-size: 2.25rem; line-height: 1.33;}
.hamiltion-stats-top-inner h2 span {display: block; color: var(--white-lime);}
.hamiltion-stats-top-inner h2 span:after {display: none;}
.hamiltion-stats-top-inner p {font-size: 1.25rem; line-height: 1.4; color: var(--light-grey);}