.logo-slider-module {position:relative; z-index: 1; clear: both; width: 100%; padding:58px 0;}
.logo-slider-row {position: inherit!important;}
.logo-slider-row .slick-track{display: flex; align-items: center;}
.logo-img { margin: 0 24px;}
.logo-img img{height: 49px; width: auto;}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .logo-img img{max-height: 64px;}
}

@media only screen and (max-width: 719px) and (min-width: 200px) {   
    .logo-img img{max-height: 48px;}
}