.stats-main { position: relative; padding: 80px 0 40px;}
.stats-section{width: 100%;  clear: both; background-color: var(--green-900); z-index: 1;}
.stats-bg-thumb{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;  z-index: -1; opacity: 0.4;} 
.stats-bg-thumb:before{ background: radial-gradient(50% 50% at 50% 50%, rgba(5, 23, 25, 0.00) 0%, #051719 100%); content: ""; display: block; width: 100%; height: 100%; left: 0; right: 0; margin: auto; position: absolute;}


.stats-list{color: var(--white); margin-bottom: 8px; padding: 32px 16px; flex: 0 0 25%; position: relative; }
.stats-list:after{position: absolute; content: ""; left: 0; top: 71px; display: block; width: 1px; height: calc(100% - 133px); background-color: rgb(157 181 173 / 50%); bottom: -71px}
.stats-list .number{font-size: 4rem; line-height: 1.5; font-family:'DM Serif Text'; margin-bottom: 20px;}
.stats-list .h4{font-size: 1.5rem; color: var(--white); font-family: "DM Serif Medium", sans-serif}
.stats-list .h4 a {color: var(--white);}
.stats-list .h4 a:hover {color: var(--lime-500);}
.stats-list p{color: var(--light-grey);}

.stats-more .readmore{cursor: pointer;}

@media only screen and (min-width: 1024px){
    .stats-list:nth-child(4n+1)::after{display: none;}



}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .stats-main{padding: 30px 0 40px;}
    .stats-list:nth-child(3n+1)::after{display: none;}
    .stats-list{flex: 0 0 33.33%;}


}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .stats-main{padding: 20px 0 40px;}
    .stats-row{display: block;}
    .stats-list::after {  left: 17px; bottom: 0; display: block; height: 1px; width: calc(100% - 33px); top: inherit}
    .stats-list{padding: 24px 14px; width: 100%; margin-bottom: 0;}
    .stats-list .number {font-size: 2.25rem; line-height: 1.33; margin-bottom: 8px;}
    .stats-list .h4 {margin-bottom: 10px;}
    .stats-more{margin-top: 40px;}




}