.contact-section{width: 100%; overflow: hidden; z-index: 1; background-color: var(--green-900); min-height: 979px;}
.contact-bg img{opacity: 0.4;}
.contact-bg figure:after{position: absolute; content:""; display: block; width: 100%; top:0; left: 0;height: 100%;  background: radial-gradient(ellipse, #051719 0%, #051719 100%); z-index: -1; }
.contact-main{z-index: 1; min-height: 979px;}
.contact-lt{flex: 27.5%; padding: 80px 80px 80px 0; flex-grow: 1; color: var(--white)}
.contact-lt h1{color: var(--white);}
.contact-lt .optional-text{font-size: 1.25rem; margin-bottom: 30px;}
.contact-lt p{font-size: 1.25rem; letter-spacing: -0.4px;}
.contact-rt{flex: calc(100% - 36.6%); flex-grow: 1; padding:  64px  0 64px 80px;}
.contact-rt:after{position: absolute; width: 1000vw; height: 100%; content:""; display: block; top: 0px; left: 0; background-color: rgba(0, 66, 56, 0.5); bottom: 0; z-index: -1;}
.contact-rt.no-contact-lt:after{left: -100vw;}
.contact-rt-txt .contact-rt-left h2{color: var(--white); margin-bottom: 0;}
.contact-rt-txt{gap: 23px; margin-bottom: 48px;}
.contact-rt-txt .contact-rt-left{flex: 0 0 300px;}
.contact-rt-txt .contact-rt-right{flex: 0 0 calc(100% - 323px); flex-grow: 1; margin-top: auto;}
.contact-rt-txt .contact-rt-right .optional-text{font-size: 1rem; color: var(--light-grey); font-weight: normal; margin-bottom: 0;}
.contact-rt-txt .contact-rt-right .optional-text span{color: var(--white-lime);}

.location-section{background-color: var(--green-900); padding: 80px 0;}
.location-main{}
.location-head{color: var(--white); text-align: center; max-width: 966px; margin: 0 auto 48px;}
.location-head .h1{color: var(--white);}
.location-head p{font-size: 1.25rem; line-height: 1.4;}
.location-list h3{font-size: 1.875rem; color: var(--white-lime);}
