@import url("../css/_hero-banner-section.css");
@import url("../css/_mini-cta-module.css");
@import url("../css/_browse-section.css");


.faq-section{width: 100%; clear: both; overflow: hidden; background: var(--green-900);}
.faq-main{padding: 0 0 80px;}
.faq-head{margin: 0 auto 40px; text-align: center;}
.faq-head h3{color: var(--white); margin-bottom: 0;}
.faq-row{gap: 48px 24px; margin-bottom: 48px;}
.faq-block{flex: 0 0 calc(33.33% - 16px); padding: 32px; border: 1px solid var(--green-500); color: var(--white);}
.faq-block h4{color: var(--white); font-family:"DM Sans", sans-serif; font-weight: 600;}
.faq-block p{margin-bottom: 60px;}


@media only screen and (min-width: 1024px){
    .hero-banner-main{padding: 75px 0 64px;}


}

@media only screen and (max-width: 1023px) and (min-width: 768px){
.faq-block {padding: 20px;}
.mini-cta-module.fluid-width .mini-cta-content{padding: 90px 0;}

.mini-cta-module.fluid-width{width:  calc(100% + 40px)!important; left: inherit; margin-left: 0;}

}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .hero-banner-text{margin-bottom: 30px;}

    .faq-row{display: block;}
    .faq-block h4{margin-bottom: 14px;}
    .faq-block p{margin-bottom: 15px;}
    .faq-block{margin-bottom: 24px;}




}
