@import url("../css/_hero-banner-section.css");
@import url("../css/_browse-section.css");
@import url("../css/_mini-cta-module.css");
@import url("../css/_insights-module.css");
@import url("../css/_form-section.css");


.insights-grid:has(a) .cat-wrap ul li {display: inline-block; color: var(--white); font-size: 0.75rem; font-weight: bold; line-height: 1; text-decoration: none; position: relative;  z-index: 1;}
.insights-grid:has(a) .cat-wrap ul li:hover{color:  var(--heading);}



.featured-insights-section{background-color: var(--green-900); position: relative;}
.featured-insights-main{gap: 56px;}
.featured-insights-lt{flex: 0 0 47.8%; flex-grow: 1;}
.featured-insights-rt{flex: 0 0 47.8%;}
.featured-insights-lt-text{padding: 32px;}
.featured-insights-lt-text h2{color: var(--white); margin-bottom: 0;}
.featured-insights-lt-text h2 a{color: var(--white);}
.featured-insights-lt-text h2 a:hover{color: var(--lime-500);}
.featured-insights-lt-text .cat-wrap{margin: 0 0 10px 0;}

.featured-insights-rt-list{margin-bottom: 48px; align-items: center;}
.featured-insights-rt-thumb{flex: 0 0 50%; flex-grow: 1;}
/* .featured-insights-rt-thumb img{height: 306px;} */
.featured-insights-rt-text{flex: 0 0 50%; padding: 32px; flex-grow: 1;}
.featured-insights-rt-text h3 a{color: var(--white);}
.featured-insights-rt-text h3 a:hover{color: var(--lime-500);}
.featured-insights-rt-text h3{color: var(--white); font-size: 1.5rem; margin-bottom: 0;}



@media only screen and (min-width: 1024px) {





}

@media only screen and (max-width: 1320px) and (min-width: 1024px) {
.featured-insights-lt{flex: 0 0 46.8%;}
.featured-insights-rt{flex: 0 0 46.8%;}
.featured-insights-rt-text{padding: 20px;}


}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
.featured-insights-rt{flex: 0 0 100%;}



}
@media only screen and (max-width: 767px) and (min-width: 200px) {
    .featured-insights-main{display: block; padding-bottom: 40px;}
    .featured-insights-section{width: calc(100% + 32px); left: -16px;}
    .featured-insights-rt{flex: 0 0 100%;}
    .featured-insights-rt-list{margin-bottom: 0;}
    .featured-insights-rt-thumb{max-width: 150px;}
    
    
    }