@import url("../css/_default-banner.css");
@import url("../css/default-page.css");


/* .default-inner p:nth-child(4) span{font-size: 1.125rem;}
.default-inner p:nth-child(5) span{font-size: 1.125rem;}
.default-inner p:nth-child(6) span{font-size: 1.125rem;} */