.page-not-section{z-index: 1; clear: both; position: relative; width: 100%;}
   .page-not-main { padding: 117px 0 140px; width: 100%; text-align: center; margin: 0 auto; max-width: 650px; position: relative; }
   .page-not-main h1{ font-size: 124px; line-height: 124px;}


@media only screen and (max-width:1023px) and (min-width:200px) {
      .page-not-main {padding: 67px 0 90px;}
    .page-not-main h1 {margin-bottom: 10px;}  
}