@import url("_split-banner.css");
@import url("_content-intro-module.css");
@import url("_stats-module.css");
@import url("_concise-section.css");
@import url("_accordion-module.css");
@import url("_features-module.css");
@import url("_recent-insights-module.css");

.practice-default-main{position: relative; padding: 80px 0;}
.practice-default-main:before{content: ""; height: 255px; width: 255px; position: absolute; background: var(--dirty-white); left: -80px; z-index: -1; top: 0px; display: block;}
.practice-default-main:after{ content: ""; height: 255px; width: 1000%; position: absolute; background: var(--dirty-white); left: -1000%; z-index: -1; top: 0px; display: block;}
.practice-default-article .practice-intro{font-size: 1.5rem; line-height: 1.33; color: var(--grey); margin: 0 0 24px 0; display: block; }

.content-features-main{margin-bottom: 40px;}
.content-features-main::before , .content-features-main::after {display: none;}
.content-features-main .content-features-grid {width: 33.33%; margin: 0;}



.dynamic-block{width: 100%; clear: both; background-color: var(--green-900); z-index: 1; margin: 48px 0;}
.dynamic-block-wrap{padding: 40px;}
.dynamic-block-cont{margin-bottom: 22px; color: var(--white);}
.dynamic-block-cont h2{color: var(--white)}

.dynamic-block .stats-main{padding: 0;}
.dynamic-block .stats-list{padding: 24px; flex: 0 0 100%;}
.dynamic-block .stats-list .h4{line-height: 1.5;}

.condition-list ul {margin: 0; padding: 0; gap: 8px;}
.condition-list ul li {display: block; margin-bottom: 8px!important; background-color: var(--dirty-white); color: var(--heading); position: relative; flex: 0 0 calc(50% - 4px); align-items: center; display: flex;}
.condition-list ul li:last-child {margin-bottom: 0!important;}
.condition-list ul li:before {display: none;}
.condition-list ul li a {text-decoration: none; font-size: 1rem; font-weight: normal; display:block; color: var(--heading); padding: 7px 35px 7px 16px;
  line-height: 1.63;}
.condition-list ul li.active , .condition-list ul li:hover {background: var(--green-700);}
.condition-list ul li.active a, .condition-list ul li:hover a{color: var(--white); padding:7px 16px 7px 40px;} 
.condition-list ul li::after{position: absolute; content: "\f105"; display: block; font-family: "Font Awesome 6 Pro"; color: var(--lime-500); top: auto; font-size: 13.5px; font-weight: 900; right:20px;}
.condition-list ul li.active:after, .condition-list  ul li:hover:after{left: 19px; right: auto;}
.condition-main{margin-bottom: 48px;}

.intro{justify-content: space-between;}
.intro-lt{flex: 0 0 50%; margin-right: 0;}
.intro-lt h2{margin-bottom: 0;}
.intro-rt{flex: 0 0 50%; justify-content: flex-end; display: flex;}
.intro:before{top: -75px;}
.intro:after{top: -75px;}

.practice-form{background-color: var(--green-700); padding: 40px; margin-bottom: 80px;}
.practice-form h3{color: var(--white);}

.practice-form .frm-wrapper .frm_checkbox label{margin-bottom: 20px;}

.client-says{margin-bottom: 60px;}
.client-block{padding: 40px; border: 1px solid var(--light-grey);}
.client-says span{font-size: 1.5rem; color: var(--grey); font-weight: 500; line-height: 1.2; display: block; margin-bottom: 40px;}
.client-aut-wrap{gap: 18px; margin-bottom: 40px;}
.client-aut img{width: 48px; height: 48px; border-radius: 40px;}
.client-block-slider ul.slick-dots li.slick-active button {background-color: var(--lime-500);}
.client-block-slider ul.slick-dots {padding-top: 0; justify-content: left; margin-left: -8px;}
.client-block-slider ul.slick-dots li:hover button{background-color: var(--green-900);}
.client-block-slider ul.slick-dots li{margin-bottom: 0!important;}
.client-block-slide.slick-slide img{display: inline-flex;}

.client-block .stars{margin-bottom: 11px;}
.client-aut-cont{max-width: 133px; align-items: center;}
.client-aut-cont .h4{margin-bottom: 0; font-size: 1.25rem;}

.recent-insights-module {background: none; padding: 0;}
.recent-insights-wrap .heading h2{color: var(--heading)}
.recent-insight-grid a{margin-top: auto;}
/* .recent-insight-grid { flex-grow: 1; width: 31.62075471698113%; position: relative; z-index: 1; min-height: 542px; overflow: hidden; } */
.testimonial-aut-wrap{gap: 16px; color: var(--white); align-items: center;}
.testimonial-aut img{width: 48px; border-radius: 80px; height: 48px;}

.testimonial-aut-cont{flex: 0 0 calc(100% - 64px); flex: 1;}
.testimonial-aut-cont .h4{ color: var(--white); margin-bottom: 0;}


.features-main{position: inherit;}

/* .features-main .slick-arrow.next-arrow { right: -80px;}
.features-main .slick-arrow.prev-arrow {left: -80px;} */


@media only screen and (min-width: 1200px){
 
  .recent-insights-main{display: block;}
  .dynamic-block .stats-list{flex: 0 0 33.33%;}

}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
  /* .practice-default-article{margin-bottom: 80px;} */

  .concise-info { max-width: inherit; }

  .dynamic-block .stats-list:first-child:after{display: none;}
  .dynamic-block .stats-list::after { position: absolute; content: ""; left: auto; top: 0; display: block; width: calc(100% - 50px); height: 1px; background-color: rgb(157 181 173 / 50%); bottom: -71px; }

}



@media only screen and (min-width: 1024px){
  .practice-default-main{display: flex;}

  .practice-default-article{width: 62.578%; flex-grow: 1;}
  .practice-default-aside{width: calc(100% - 70%); margin: -145px 0 0 6.25%; z-index: 1;}
  .practice-form .frm_forms .frm-wrapper  .frm_submit  {width: 100%;}
  .practice-form .frm_forms .frm-wrapper  .frm_submit  button{width: 100%;}
  
  .recent-insight-grid {width: 100%; margin-bottom: 20px; display: flex;}
  



}
@media only screen and (max-width: 1023px) and (min-width: 768px){
  .practice-default-article{margin-bottom: 40px;}
  .dynamic-block .stats-list { padding: 16px;}

  .dynamic-block .stats-list:first-child:after{display: none;}
  .dynamic-block .stats-list::after { position: absolute; content: ""; left: auto; top: 0; display: block; width: calc(100% - 50px); height: 1px; background-color: rgb(157 181 173 / 50%); bottom: -71px; }

  .recent-insights-main{margin-bottom: 40px;}

}

@media only screen and (max-width: 767px) and (min-width: 200px){
  .practice-default-main{padding: 40px 0;}
  .practice-default-article{margin-bottom: 40px;}
  .content-features-main .content-features-grid{width: 100%;}
  .content-features-main .content-features-grid { padding: 32px;}

  .dynamic-block-wrap{padding: 40px 16px;}
  .dynamic-block { width: calc(100% + 32px); left: -16px;}

    .condition-main{margin-bottom: 80px;}
    .condition-list ul li {flex: 100%}

    .practice-form{padding: 40px 16px;}
    .recent-insights-main{margin-bottom: 20px;}

    .features-module .intro{display: block;}
    .features-module .intro-lt{margin-bottom: 20px;}
    .features-module .intro-rt{justify-content: flex-start;}
    .features-main .features-grid .readmore{text-indent: 0;}
    .features-main .features-grid p{display: block;}

    .features-main ul.slick-dots li.slick-active button {background-color: var(--green-900);}
}