@import url("../css/_split-banner.css");
@import url("../css/_stats-module.css");
@import url("../css/_form-section.css");

.btn-black{background-color: black; color: var(--white);}

.result-main-section{width: 100%;position: relative; clear: both;}
.result-main { padding: 80px 0 54px; clear: both; width: 100%; display: flex; flex-wrap: wrap; gap: 0 50px; }
.result-lt h2{max-width: 667px;}
.result-lt p{font-size: 1.25rem; line-height: 1.75rem;}
.result-lt{flex: 1;}
.result-rt{width: 415px; text-align: center; z-index: 1; position: relative; margin-top: -146px;}

.result-rt .result-icon{max-width: 24px; margin: 0 auto 4px;}
.result-rt h3{font-size: 3rem; color: var(--white); margin: 0 auto 24px; max-width: 300px;}
.result-rt p{font-size: 1.125rem; line-height: 1.688rem; color: var(--light-grey); margin-bottom: 37px;}
.result-rt .consult-btn{font-size: 1.125rem}
.result-rt .button{width: 100%;}
.result-rt .btn-wrap{gap: 8px;}
.result-rt-wrap{ padding: 40px 30px; color: var(--white); background-color: var(--green-700); text-align: center;  }

