@import url("../css/_form-section.css");
@import url("../css/_hero-banner-section.css");

.hero-bg .background-bg:before{background: radial-gradient(50% 50% at 50% 50%, rgba(5, 23, 25, 0.50) 0%, rgba(5, 23, 25, 0.50) 100%);} 

.testimonial-section{ width: 100%; overflow: hidden; z-index: 1; }

.testimonial-row{gap: 40px;  display: block;}
.testimonial-list{ padding: 32px; color: var(--white); border: 1px solid var(--green-700); page-break-inside: avoid; break-inside: avoid; -webkit-column-break-inside: avoid; margin-bottom: 86px;}

.testimonial-img{margin-bottom: 16px;}
.testimonial-text p{position: relative; margin-bottom: 25px;}
.testimonial-text p:first-child::before{position: absolute; content: ""; background-image: url('../images/testimonial-icon.svg'); bottom: 6px; right: -16px; width: 85px; height: 63px; display: block; z-index: -1;}

.testimonial-list .testimonial-text:only-child p:first-child{padding-top: 32px;}
.testimonial-list .testimonial-text:only-child .testimonial-aut-wrap{margin-bottom: 16px;}
.testimonial-list .testimonial-text:only-child p:first-child:before{ top: 0; left: 0; bottom:inherit;}
.testimonial-list .testimonial-text:only-child .testimonial-aut img{width: 24px; height: 24px;} 
.testimonial-list.no-testimonial-img{border: 1px solid var(--green-300); margin-bottom: 46px;}

.testimonial-aut-wrap{gap: 16px; color: var(--white); align-items: center;}
.testimonial-aut img{width: 48px; border-radius: 80px; height: 48px;}

.testimonial-aut-cont{flex: 0 0 calc(100% - 64px); flex: 1;}
.testimonial-aut-cont .h4{ color: var(--white); margin-bottom: 0;}
.testimonial-aut-cont span{margin-bottom: 0;}

.testimonial-wrap span.readmore{cursor: pointer;}
/* .testimonial-section .stats-more{margin-top: -20px;} */
.testimonial-wrap ul > span:first-child{margin-top: 0; display: block;}
.testimonial-wrap ul > span{margin-top: 46px; display: block;}

@media only screen and (min-width: 1024px){
    .testimonial-wrap{padding: 0 0 122px;}
    .testimonial-row{column-count: 3;}
    .testimonial-section .stats-more{margin-top: 66px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .testimonial-wrap{padding: 64px 0;}
    .testimonial-row {column-count: 2;}
    .testimonial-section .stats-more{margin-top: 64px;}

}


@media only screen and (max-width: 767px) and (min-width: 200px){
    .testimonial-wrap{padding: 40px 0 40px;}
    .testimonial-section .stars { margin-bottom: 10px; }
    .hero-bg{padding: 64px 0 0;}
    .hero-bg .background-bg{height: auto;}
    .hero-bg .background-bg:before{background: radial-gradient(50% 50% at 50% 50%, rgba(5, 23, 25, 0.00) 0%, #051719 100%);} 
    .testimonial-list{margin-bottom: 32px;}
    .testimonial-aut-cont .h4 { font-size: 1.25rem; line-height: 1; margin-bottom: 4px;}
    .testimonial-section .stats-more { margin-top: 0;  text-align: left;}
    .testimonial-list.no-testimonial-img {margin-bottom: 32px};

}